<a href="https://colab.research.google.com/github/Somesh140/Revision_Repo/blob/main/Interview_python_practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 . you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

In [ ]:
def length(string):
  """returns the length of the string"""
  l=0
  for i in string:
    l+=1
  return l

a=input("Enter string")
print("length of string",length(a))

Enter stringabcd
length of string 4

3 . Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work .

In [ ]:

def dict_to_list(d1:dict)->list:
  l=[]
  for i in d1:
    if type(d1[i])==dict:
      for j in d1[i]:
        l.append(d1[i][j])
    elif type(d1[i])==list:
      l.extend(d1[i])
    elif type(d1[i])==tuple:
      for j in range(len(d1[i])):
        l.append(d1[i][j])
    else:
      l.append(d1[i])
  return l

In [ ]:
d={"key1":[1,2,3],"key2":{"a":41,"b":"asd"},"key3":(3,4,5)}
c=dict_to_list(d)
print(c)

[1, 2, 3, 41, 'asd', 3, 4, 5]

4 . write a fun which will take another function as an input and return me an output

In [ ]:
def operation(func):
  print("operataion function was called")

def func1():
  print("func1 was called")

def func2():
  print("func2 was called")

In [ ]:
operation(func1())

func1 was called
operataion function was called

In [ ]:
operation(func2())

func2 was called
operataion function was called

 write a function which will take multiple list as a input and give me concatnation of all the element as 
and output

In [ ]:
def concat_list(a,b,c):
  a.extend(b)
  a.extend(c)
  return a

In [ ]:
l1=[12345]
l2=["Somesh"]
l3=["a","d","e","f"]

f=concat_list(l1,l2,l3)
f

[12345, 'Somesh', 'a', 'd', 'e', 'f']

write a function which will be able to take a list as an input return an index of each element 
like a inbuilt index function but even if we have repetative element it should return index

In [ ]:
def index_list(a):
  for i in range(len(a)):
    print("index of {} in the list is {}".format(a[i],i))

In [ ]:
l1=[12345,"Somesh",1,2,3,4,5,2,3,3,1]
index_list(l1)

index of 12345 in the list is 0
index of Somesh in the list is 1
index of 1 in the list is 2
index of 2 in the list is 3
index of 3 in the list is 4
index of 4 in the list is 5
index of 5 in the list is 6
index of 2 in the list is 7
index of 3 in the list is 8
index of 3 in the list is 9
index of 1 in the list is 10

Write a function which will whould return list of all the file name from a directory .

In [ ]:
def all_files():
  import os

  #path of the directory
  path=input("enter directory")

  list_dir=os.listdir(path)

  #print files in the path
  print("files in {} ".format(path))

  return list_dir

In [ ]:
l1=all_files()
for i in l1:
  print(i)

enter directory/content/sample_data
files in /content/sample_data
anscombe.json
README.md
mnist_test.csv
california_housing_test.csv
california_housing_train.csv
mnist_train_small.csv

write a function which will be able to show your system configuration .

In [ ]:
def system():
  import os
  print(os.uname())

In [ ]:
system()

posix.uname_result(sysname='Linux', nodename='c1ea70c64087', release='5.10.133+', version='#1 SMP Fri Aug 26 08:44:51 UTC 2022', machine='x86_64')

write a function which will be able to show date and time .

In [ ]:
import datetime

def show_date_time():
  print(datetime.datetime.now().strftime("%d-%m-%Y %H-%M-%S"))

In [ ]:
show_date_time()

04-01-2023 18-41-19

create a sqlite3 db in that create a table and insert some values in it and execute a select query

In [ ]:
import sqlite3

conn=sqlite3.connect("mydb.db")
conn.execute("Create table if not exists pet('type', 'bread', 'gender', 'name')")
conn.execute("Insert into pet values('dog','labrador','female','silky')")
conn.execute("Insert into pet values('cat','persian','male','Oscar')")
results=conn.execute("Select * from pet where type='dog'")
for result in results:
  print(result)
conn.close()

('dog', 'labrador', 'female', 'silky')

In [ ]:
conn=sqlite3.connect("mydb.db")
results=conn.execute("Select 'bread', 'name' from pet where type='dog'")
for result in results:
  print(result)
conn.close()