<a href="https://colab.research.google.com/github/Somesh140/Revision_Repo/blob/main/Python_practice_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interview Practice Problems

1.Write a program to demonstrate different number data types in Python

In [ ]:
a=10
b=11.5
c=2+0.5j
print(" a is of type",type(a))
print(" b is of type",type(b))
print(" c is of type",type(c))

 a is of type <class 'int'>
 b is of type <class 'float'>
 c is of type <class 'complex'>

2. Write a program to perform different Arithmetic Operations on
numbers in Python.

In [ ]:
a=int(input("Enter a number")) # input() takes data from console at runtime as string
b= int(input("enter a number")) #typecast the input string to int.
print("Addition of a and b",a+b)
print("Subtraction of a and b",a-b)
print("Multplication of a and b",a*b)
print("Division of a by b",a/b)
print("Remainder of and b",a%b)
print("Exponent of a and b",a**b)
print("Floor division of a and b",a//b)

Enter a number3
enter a number4
Addition of a and b 7
Subtraction of a and b -1
Multplication of a and b 12
Division of a by b 0.75
Remainder of and b 3
Exponent of a and b 81
Floor division of a and b 0

Write a program to create, concatenate and print a string and
accessing sub-string from a given string.

In [ ]:
s1=input("Enter the first string")
s2=input("Enter the second string")
print("First string",s1)
print("Second string",s2)
print("concatenations of two strings",s1+s2)
print("Substring of given string",s1[1:4])

Enter the first stringComputer
Enter the second stringScience
First string Computer
Second string Science
concatenations of two strings ComputerScience
Substring of given string omp

 Write a python script to print the current date in the following format
â€œSun May 29 02:26:23 IST 2017"

In [ ]:
import time
ltime=time.localtime()
print(time.strftime("%a %b %d %H:%M:%S %Z %Y",ltime))# returns the formatted time

#strftime.org get the code

Mon Jan 02 18:39:40 UTC 2023

5. Write a program to create, append, and remove lists in python

In [ ]:
my_list=[]
my_list=[1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
my_list.remove(4)
print(my_list)

[1, 2, 3]

In [ ]:
my_list.pop()# removes the last element 
print(my_list)

[1, 2]

In [ ]:
my_list.pop(0) # if index given removes the index element
print(my_list)

[2]

In [ ]:
del my_list

In [ ]:
print(my_list)

NameError: ignored

Write a program to demonstrate working with tuples in python

In [ ]:
#empty tuple
my_tuple=()
print(my_tuple)

()

In [ ]:
#tuple having integers
my_tuple=(1,2,3)
print(my_tuple)

(1, 2, 3)

Write a python program to find largest of three numbers.

In [ ]:
#input three numbers
num1=int(input("Enter the 1st number"))
num2=int(input("Enter the 2nd number"))
num3=int(input("Enter the 3rd number"))

if (num1>num2) & (num1>num3):
  largest=num1
elif (num2>num1) & (num2> num3):
  largest=num2
else:
  largest=num3 

print("The largest number is", largest)

Enter the 1st number6
Enter the 2nd number3
Enter the 3rd number4
The largest number is 6

Write a Python program to convert temperatures to and from Celsius,
Fahrenheit. [ Formula: c = (f-32)(5/9)]

In [ ]:
temp=float(input("Enter Temperature"))
unit=input("Enter unit('c' for Celsius of 'F' for Fahrenheit)")

if unit=='C'or unit=="c":
  newtemp=round((9/5)*temp+32,2)
  print("Temperature in Fahrenheit=",newtemp)
elif unit=='F' or unit=='f':
  newtemp=round((5/9)*(temp-32),2)
  print("Temperature in Celsius =",newtemp)
else:
  print("Unknown unit",unit)

Enter Temperature100
Enter unit('c' for Celsius of 'F' for Fahrenheit)f
Temperature in Celsius = 37.78

Write a Python program to construct the following pattern, using a
nested for loop


```
*
**
***
****
*****
****
***
**
*
```

In [ ]:
for i in range(1,5):
  print("*"*i)
for i in range(5,0,-1):
  print("*"*i)

*
**
***
****
*****
****
***
**
*

In [ ]:
for i in range(5):
  for j in range(i):
    print("*",end="")
  print('')

for i in range(5,0,-1):
  for j in range(i):
    print("*",end="")

  print("")

*
**
***
****
*****
****
***
**
*

 Write a Python script that prints prime numbers less than 20

In [ ]:
s=set()
for num in range(2,20):
  for i in range(2,num):
    if (num%i)==0:
      break
    else:
      s.add(num)
print(s)

{3, 5, 7, 9, 11, 13, 15, 17, 19}

Write a python program to find factorial of a number using Recursion

In [ ]:
def recur_factorial(n):
  if n==1:
    return n
  else:
    return n*recur_factorial(n-1)

#take input from the user
num=int(input("Enter a number"))

if num<0:
  print("sorry factorial does not exist for negative numbers")
elif num==0:
  print("the factorial of 0 is 1")
else :
  print(f"The factorial of {num} is {recur_factorial(num)}")

Enter a number5
The factorial of 5 is 120